* {
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

html, body {
  padding: 0;
  margin: 0; }

.container {
  max-width: 550px;
  padding: 30px 10px 10px 10px;
  margin: 0 auto; }

.content {
  padding: 30px 0 0 0; }

.home {
  display: block; }

.projects {
  display: none; }

.contact {
  display: none; }
