body, html {
	margin: 0;
	padding: 0;
	background: hsl(40, 10%, 98%);
}
* {
	font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input, .input, input:focus, .input:focus  {
	border-style: none; 
    border-color: Transparent; 
    overflow: auto;  
    outline: none;
    resize: none;
}
main {
	min-height: calc(100vh - 195px);
	padding: 3px;
	max-width: 1000px;
	margin: 100px auto 60px auto;
	border-radius: 0px;
}