/* My super button */
.my_btn {
	position: absolute;
	top: 15px;
	right: 10px;
	padding: 11px 15px;
	border-radius: 0;
	/* background: #5e81a8; */
	background: #b11a21;
	cursor: pointer;
	color: white;
	font-size: 15px;
	font-weight: 100;
}
.my_btn:hover {
	/* background: #7a97b8; */
	background: #b8141d;
}
.my_btn:active {
	/* background: #56748f; */
	background: #a8242a;
	padding-top: 12px;
	padding-bottom: 10px;
}
.my_btn::selection {
   background: transparent;
}
.my_btn::-moz-selection {
   background: transparent;
}