@charset "UTF-8";
/*-----------------------------------*  $TOAST-GRID
  An insane grid.
  You'd be mad to use it.
  Usage
  =====
  Assuming default values:
  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>
  Customisation
  =============
  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.
  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.
  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.
  That's it. Have fun.
\*-----------------------------------*/
.row {
  list-style: none;
  margin-left: -20px; }

.col--2-of-2, .col--3-of-3 {
  width: 100%; }

.col--1-of-2 {
  width: 50%; }

.col--1-of-3 {
  width: 33.33333%; }

.col--2-of-3 {
  width: 66.66667%; }

.col--push-2-of-2, .col--push-3-of-3 {
  margin-left: 100%; }

.col--push-1-of-2 {
  margin-left: 50%; }

.col--push-1-of-3 {
  margin-left: 33.33333%; }

.col--push-2-of-3 {
  margin-left: 66.66667%; }

.col--pull-2-of-2, .col--pull-3-of-3 {
  margin-left: -100%; }

.col--pull-1-of-2 {
  margin-left: -50%; }

.col--pull-1-of-3 {
  margin-left: -33.33333%; }

.col--pull-2-of-3 {
  margin-left: -66.66667%; }

.col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 1150px) {
    .col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 1150px) and (min-width: 560px) {
    .col[class*="col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--m-1-of-2, .col.col--m-2-of-4 {
      width: 50%; }
    .col.col--m-1-of-3 {
      width: 33.33333%; }
    .col.col--m-2-of-3 {
      width: 66.66667%; }
    .col.col--m-1-of-4 {
      width: 25%; }
    .col.col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 560px) {
    .col[class*="col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .col.col--s-1-of-2, .col.col--s-2-of-4 {
      width: 50%; }
    .col.col--s-1-of-3 {
      width: 33.33333%; }
    .col.col--s-2-of-3 {
      width: 66.66667%; }
    .col.col--s-1-of-4 {
      width: 25%; }
    .col.col--s-3-of-4 {
      width: 75%; } }

.col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.col--d-first {
  float: left; }

.col--d-last {
  float: right; }

.row--no-gutter {
  margin-left: 0;
  width: 100%; }
  .row--no-gutter .col {
    padding-left: 0; }
  .row--no-gutter .col--span-all {
    margin-left: 0;
    width: 100%; }

.col--ab {
  vertical-align: bottom; }

.col--am {
  vertical-align: middle; }
