.slider-container {
	/* Here are properties you can change */
	max-width: 600px;
	background: #FFF;
	border-radius: 10px;
	margin: 20px auto; 
	padding: 20px 40px;
	
	/* don't touch this! */
	position: relative;
}
.slider {
	overflow: hidden;
}
.slider ul {
	position: relative;
	transition: left 0.7s ease-in-out;
	left: 0%;
	white-space:nowrap;
	padding: 0;
}
.slider li {
	list-style: none;
	padding: 5px;
	text-align: center;
	display: inline-block;
	white-space: pre-line;
	vertical-align: middle;
}
.slider img {
	margin: 10px 0 0 0;
	width: 100%;
}
.slider-button {
	position: absolute;
	top: 42px;
	cursor: pointer;
}
.left {
	left: 10px;
}
.right {
	right: 10px;
}