body, html {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 1.3em;
}

h1 {
	margin: 70px 0 70px 0;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 30px;
}

.aboutMe p {
	color: #333;
}

.portfolio h2 {
	margin: 85px 20px 55px 20px;
    overflow: hidden;
    text-align: center;
}
.portfolio h2:before,
.portfolio h2:after {
    background-color: #bbb;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.portfolio h2:before {
    right: 0.5em;
    margin-left: -50%;
}
.portfolio h2:after {
    left: 0.5em;
    margin-right: -50%;
}
.portfolio .job {
	margin: 65px 50px 100px 50px;
}
.portfolio .job h3 {
	color: #222;
	font-style: italic;
}
.portfolio .job .tags {
	margin: 15px 0;
}
.portfolio .job .tags .tag {
	color: #555;
	font-style: italic;
	margin: 0 10px 0 0;
	font-size: 0.8em;
}
.portfolio .description {
	color: #555;
	font-size: 0.85em;
}
.portfolio .job .links {
	margin: 50px 0 10px 0;
}
.portfolio .job .links .btn {
	margin: 20px 20px 30px 0;
	border-radius: 4px;
	color: white;
	background: #2FA7FF;
	padding: 7px 10px;
	font-size: 0.8em;
	text-decoration: none;
}